@page "/ingredientSearch"

@layout MainLayout

<link href="/css/cards.css" rel="stylesheet" />
@* <link href="/css/ingredientSearch.css" rel="stylesheet" /> *@

<style>
    body {
        font-weight: normal; 
        background-color: #f8f9fa;
        background-image:  url('/images/ella-olsson-rD3YrnhTmf0-unsplash.jpg'); ;
        background-size: cover;
        background-position: center 20%;
        background-repeat: no-repeat;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .textFont {
        @* font-family: 'Poppins', sans-serif; *@
        font-weight: normal;
        color: black;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column; /* Stack items vertically */
        margin: 0 auto; /* This ensures the container is centered within its parent */
        padding: 20px; 
        @* max-width: fit-content;  *@
        box-sizing: border-box; 

    }

    .shadowww {
        @* width: 100%;  *@
        margin: 0 auto 20px; 
        padding: 10px; 
        background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(5px);
        border-radius: 10px;
        @* box-shadow: 0 4px 6px rgba(0,0,0,0.1); *@
        @* display: inline-block; *@
    }

    .h1_Width {
        font-size: 50px;
        max-width: 800px;
    }
    .h3_Width {
        max-width: 800px;
    }

</style>



<div style="height: 1in;"></div>
<div class="centered-container">
  <h1 class="textFont shadowww h1_Width">Discover Delicious Recipes!</h1>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form @onsubmit="HandleFormSubmit">
                <!-- Ingredients Row -->
                <div class="row mb-3">
                    <!-- Proteins -->
                    <div class="col-md-3">
                        <select id="protein-multi-select" class="form-select" multiple
                            data-placeholder="Select Proteins"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.Protein)">
                            @foreach (var protein in AllProteins)
                            {
                                <option value="@protein.ProteinID">@protein.ProteinName</option>
                            }
                        </select>
                    </div>

                    <!-- Vegetables -->
                    <div class="col-md-3">
                        <select id="vegetable-multi-select" class="form-select" multiple
                            data-placeholder="Select Vegetables"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.Vegetable)">
                            @foreach (var vegetable in AllVegetables)
                            {
                                <option value="@vegetable.VegetableID">@vegetable.VegetableName</option>
                            }
                        </select>
                    </div>
                    <!-- Fruits -->
                    <div class="col-md-3">
                        <select id="fruit-multi-select" class="form-select" multiple data-placeholder="Select Fruits"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.Fruit)">
                            @foreach (var fruit in AllFruits)
                            {
                                <option value="@fruit.FruitID">@fruit.FruitName</option>
                            }
                        </select>
                    </div>

                    <!-- Carbs -->
                    <div class="col-md-3">
                        <select id="carb-multi-select" class="form-select" multiple data-placeholder="Select Carbs"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.Carb)">
                            @foreach (var carb in AllCarbs)
                            {
                                <option value="@carb.CarbID">@carb.CarbName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row justify-content-center mb-5">
                    <!-- Dairy -->
                    <div class="col-md-3">
                        <select id="dairy-multi-select" class="form-select" multiple data-placeholder="Select Dairy"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.Dairy)">
                            @foreach (var dairy in AllDairy)
                            {
                                <option value="@dairy.DairyID">@dairy.DairyName</option>
                            }
                        </select>
                    </div>

                    <!-- Beans or Nuts -->
                    <div class="col-md-3">
                        <select id="beanornut-multi-select" class="form-select" multiple
                            data-placeholder="Select Beans/Nuts"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.BeanOrNut)">
                            @foreach (var beanOrNut in AllBeansOrNuts)
                            {
                                <option value="@beanOrNut.BeanOrNutID">@beanOrNut.BeanOrNutName</option>
                            }
                        </select>
                    </div>

                    <!-- Condiments -->
                    <div class="col-md-3">
                        <select id="condiment-multi-select" class="form-select" multiple
                            data-placeholder="Select Condiments"
                            @onchange="(e) => HandleIngredientsChange(e, IngredientType.Condiment)">
                            @foreach (var condiment in AllCondiments)
                            {
                                <option value="@condiment.CondimentID">@condiment.CondimentName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="centered-container">
                    <h3 class="textFont shadowww h3_Width">Use the search bar to search for more ingredients!</h3>
                </div>

                <!-- Restrictions, Search, and Submit Button Row -->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <!-- Restrictions Dropdown -->
                            <div class="input-group">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <select id="restriction-multi-select" class="form-select" multiple
                                        data-placeholder="Select Restrictions" @onchange="HandleRestrictionsChange">
                                        @foreach (var restriction in AllRestrictions)
                                        {
                                            <option value="@restriction.RestrictionID">@restriction.RestrictionName</option>
                                        }
                                    </select>
                                </div>
                            
                                <!-- Search Bar -->
                                <div class="col-md-6">
                                    <input type="text" class="form-control" @bind='searchKeywords'
                                        placeholder="Search for ingredients to add...">
                                </div>
                            
                                <!-- Submit Button -->
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @if (waiting == true || recipes == null)
            {
                <h4 class="no-recipes-message mt-5">Loading recipes...</h4>
            }
            else if (clicked && recipes.Count == 0)
            {
                <h4 class="no-recipes-message mt-5">No recipes found :(</h4>
            }
            else
            {
                <div class="row mt-4">
                    @foreach (var recipe in recipes)
                    {
                        <div class="col-sm-4">
                            <div class="card mb-4 shadow-sm clickable-card">
                                <img src="@($"RecipeImages/{recipe.RecipeImage}_thumb.jpg")"
                                        alt="Image of @recipe.RecipeName" class="recipeImage">
                                <div class="card-body">
                                    <NavLink @onclick="() => RedirectToRecipe(recipe.RecipeID)">
                                        <h5 class="card-title clickable-card-title">@recipe.RecipeName</h5>
                                    </NavLink>
                                    <p class="card-text">@recipe.ShortDescription</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted mt-1">@Math.Round(recipe.CookTime) Minutes</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {

    private List<SimpleRecipeDTO> recipes = new();
    public string searchKeywords = string.Empty;
    public bool clicked = false;
    public bool waiting = false;

    private List<RestrictionDTO> AllRestrictions = new List<RestrictionDTO>();
    private RestrictionSelectionDTO SelectedRestrictions = new RestrictionSelectionDTO();

    //From Drop Down for eatch Ingredient Type
    private IngredientSelectionDTO SelectedIngredients = new IngredientSelectionDTO();

    //From search bar
    private IngredientSelectionDTO IngredientsSearched = new IngredientSelectionDTO();



    private List<ProteinIngredient> AllProteins = new List<ProteinIngredient>();
    private IngredientSelectionDTO SelectedProteins = new IngredientSelectionDTO();
    private List<VegetableIngredient> AllVegetables = new List<VegetableIngredient>();
    private IngredientSelectionDTO SelectedVegetables = new IngredientSelectionDTO();
    private List<FruitIngredient> AllFruits = new List<FruitIngredient>();
    private IngredientSelectionDTO SelectedFruits = new IngredientSelectionDTO();
    private List<CarbIngredient> AllCarbs = new List<CarbIngredient>();
    private IngredientSelectionDTO SelectedCarbs = new IngredientSelectionDTO();
    private List<DairyIngredient> AllDairy = new List<DairyIngredient>();
    private IngredientSelectionDTO SelectedDairy = new IngredientSelectionDTO();
    private List<BeanOrNutIngredient> AllBeansOrNuts = new List<BeanOrNutIngredient>();
    private IngredientSelectionDTO SelectedBeansOrNuts = new IngredientSelectionDTO();
    private List<CondimentIngredient> AllCondiments = new List<CondimentIngredient>();
    private IngredientSelectionDTO SelectedCondiments = new IngredientSelectionDTO();

    private Dictionary<IngredientType, IngredientSelectionDTO> ingredientMap = new();

    protected void RedirectToRecipe(int recipeID)
    {
        string recipeLink = $"/detailedRecipe/{recipeID}";
        NavigationManager.NavigateTo(recipeLink);
    }

    protected async Task SearchRecipes()
    {
        clicked = true;
        waiting = true;

        try
        {
            IngredientsSearched.IngredientIds.Clear();
            SelectedIngredients.IngredientIds.Clear();


            // add to SelectedIngredients
            await SearchIngredients(searchKeywords);


            // adds each type to SelectedIngredients
            AddIngredientsToSelection();

            //Gets updated restrictions list
            await GetRestrictions(SelectedIngredients.IngredientIds);

            if (SelectedIngredients.IngredientIds.Count > 0)
            {
                foreach (var i in SelectedIngredients.IngredientIds)
                {
                    IngredientsSearched.IngredientIds.Add(i);
                }
                if (SelectedRestrictions.RestrictionIds.Count > 0)
                {
                    @* Console.WriteLine($"Restrictions Searching..."); *@
                    foreach (var id in IngredientsSearched.IngredientIds)
                    {
                        @* Console.WriteLine($"Ingredient: {id}"); *@
                    }
                    recipes = await RecipeService.SearchBySelectedIngredientsWithRestrictions(IngredientsSearched,
                    SelectedRestrictions.RestrictionIds);

                }
                else
                {
                    @* Console.WriteLine($"Ingredients Searching..."); *@
                    foreach (var id in IngredientsSearched.IngredientIds)
                    {
                        @* Console.WriteLine($"Ingredient => {id}"); *@
                    }
                    recipes = await RecipeService.SearchRecipesBySelectedIngredients(IngredientsSearched);
                }
            }
            else
            {
                recipes = new(); // clear the list
                searchKeywords = string.Empty;
                await GetRestrictions();
                if (SelectedRestrictions.RestrictionIds.Count > 0) {
                    await GetRecipesByRestrictions(SelectedRestrictions.RestrictionIds);
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching recipes: {ex.Message}");
            // Probably need to make a UI alert for errors
        }
    }

    protected async Task SearchIngredients(string searchKeywords)
    {
        if (searchKeywords != string.Empty)
        {
            @* Console.WriteLine("searchKeywords != string.Empty"); *@
            var ingredients = await IngredientService.SearchIngredientsForKeyword(searchKeywords);

            foreach (var i in ingredients)
            {
                @* Console.WriteLine($"***{i.IngredientID}"); *@
                @* IngredientsSearched.IngredientIds.Add(i.IngredientID); *@
                SelectedIngredients.IngredientIds.Add(i.IngredientID);
            }
        }
    }

    protected void AddIngredientsToSelection()
    {
        int t = 0;
        foreach (var obj in Enum.GetValues(typeof(IngredientType)))
        {
            var type = (IngredientType)obj;
            if (t < 7)
            { // we arent making a drop down for the other types
                var ids = ingredientMap[type].IngredientIds;
                if (ids.Count > 0)
                {
                    foreach (var id in ids)
                    {
                        @* Console.WriteLine($"{id}****"); *@
                        SelectedIngredients.IngredientIds.Add(id);
                    }
                }
                t++;
            }
            else
            {
                break;
            }
        }


    }
    protected async Task HandleFormSubmit()
    {
        if (searchKeywords == string.Empty)
        {
            IngredientsSearched.IngredientIds.Clear();
        }
        await SearchRecipes();
        waiting = false;
    }

    private void HandleRestrictionsChange(ChangeEventArgs e)
    {
        var selectedOptions = e.Value as IEnumerable<string>;
        if (selectedOptions != null)
        {
            // Clear the existing list
            SelectedRestrictions.RestrictionIds.Clear();

            foreach (var option in selectedOptions)
            {
                if (int.TryParse(option, out var id))
                {
                    SelectedRestrictions.RestrictionIds.Add(id);
                }
                else
                {
                    Console.WriteLine($"Failed to parse restriction ID: {option}");
                }
            }

            Console.WriteLine($"Selected Restrictions: {string.Join(", ", SelectedRestrictions.RestrictionIds)}");
        }

    }

    private void HandleIngredientsChange(ChangeEventArgs e, IngredientType type)
    {
        var selectedOptions = e.Value as IEnumerable<string>;
        if (selectedOptions != null)
        {
            // Clear the existing list
            ingredientMap[type].IngredientIds.Clear();

            foreach (var option in selectedOptions)
            {
                if (int.TryParse(option, out var id))
                {
                    ingredientMap[type].IngredientIds.Add(id);
                }
                else
                {
                    Console.WriteLine($"Failed to parse restriction ID: {option}");
                }
            }

            Console.WriteLine($"Selected Type: {string.Join(", ", ingredientMap[type].IngredientIds)}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetRestrictions();
        await GetIngredients();

        ingredientMap = new Dictionary<IngredientType, IngredientSelectionDTO>
{
{ IngredientType.Protein, SelectedProteins },
{ IngredientType.Vegetable, SelectedVegetables },
{ IngredientType.Fruit, SelectedFruits },
{ IngredientType.Carb, SelectedCarbs },
{ IngredientType.Dairy, SelectedDairy },
{ IngredientType.BeanOrNut, SelectedBeansOrNuts },
{ IngredientType.Condiment, SelectedCondiments },
};
    }

    protected async Task GetRecipesByRestrictions(List<int> restrictionsIDs)
    {
        try
        {
            recipes = await RecipeService.GetRecipesByRestrictions(restrictionsIDs);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching recipes: {ex.Message}");
        }
    }

    protected async Task GetRestrictions()
    {
        try
        {
            @* Console.WriteLine($"EMPTYYY"); *@
            AllRestrictions = await RestrictionService.GetAllRestrictions();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching restrictions: {ex.Message}");
        }
    }

    protected async Task GetRestrictions(List<int> selectedIngredients)
    {
        try
        {
            @* Console.WriteLine($"NOTT EMPTYY"); *@
            foreach (var id in selectedIngredients) {
               @* Console.WriteLine($"{id} + || ahhh");  *@
            }
            AllRestrictions = await RestrictionService.GetAllActiveByIngredients(selectedIngredients);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching restrictions: {ex.Message}");
        }
    }

    protected async Task GetIngredients()
    {
        try
        {
            AllProteins = await IngredientService.GetAllProteins();
            AllVegetables = await IngredientService.GetAllVegetables();
            AllFruits = await IngredientService.GetAllFruits();
            AllCarbs = await IngredientService.GetAllCarbs();
            AllDairy = await IngredientService.GetAllDairy();
            AllBeansOrNuts = await IngredientService.GetAllBeansOrNuts();
            AllCondiments = await IngredientService.GetAllCondiments();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching restrictions: {ex.Message}");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var options = new
            {
                theme = "bootstrap-5",
                width = "style",
                placeholder = "Select Options",
                closeOnSelect = false,
            };

            var select2Options = System.Text.Json.JsonSerializer.Serialize(options);


            // Initialize dropdowns
            await InitializeSelect2("restriction-multi-select", select2Options);
            await InitializeSelect2("protein-multi-select", select2Options);
            await InitializeSelect2("vegetable-multi-select", select2Options);
            await InitializeSelect2("fruit-multi-select", select2Options);
            await InitializeSelect2("carb-multi-select", select2Options);
            await InitializeSelect2("dairy-multi-select", select2Options);
            await InitializeSelect2("beanornut-multi-select", select2Options);
            await InitializeSelect2("condiment-multi-select", select2Options);
        }
    }

    private async Task InitializeSelect2(string elementId, string options)
    {
        string jsCode = $@"
$('#{elementId}').select2({options});
$('#{elementId}').on('select2:select select2:unselect', function (e) {{
// Manually trigger change event for Blazor to capture
this.dispatchEvent(new Event('change'));
}});";

        await JS.InvokeVoidAsync("eval", jsCode);
    }
}
